Source: cubicweb-condor
Section: web
Priority: optional
Maintainer: LOGILAB S.A. (Paris, FRANCE) <contact@logilab.fr>
Build-Depends: debhelper (>= 5.0.37.1), python (>=2.5), python-dev (>=2.5)
Standards-Version: 3.8.0


Package: cubicweb-condor
Architecture: all
Depends: cubicweb-common (>= 3.14.1), condor
Description: adds facilities to interact with the Condor batch job queue manager
 CubicWeb is a semantic web application framework.
 .
 adds facilities to interact with the Condor batch job queue manager
 .
 This package will install all the components you need to run the
 cubicweb-condor application (cube :).. 
